.Education{
    padding: 100px 0px;
    margin: 50px 0px;
    margin-left: 155px;
    background-color: rgba(128, 128, 128, 0.110);
}
.Education hr{
    color: rgb(40, 46, 63);
    width: 400px;
    margin: 10px auto;
}
.Education h2{
    font-weight: bold;
    color: #116466;
}
.Education .vertical-timeline-element-title{
    color: #138781;
}
.Education .vertical-timeline-element-subtitle{
    color: #1e1e2c;
}
/* PHONE */

@media (max-width: 600px) {
    .Education {
      margin: 0;
      padding: 0;
      margin-top: 30px;
    }
    .Education h2 {
      padding-top: 20px;
    }
    .Education hr {
      width: 280px;
      margin-bottom: 10px;
    }
  }